<%- include('./partials/head') %>

<h2>Hello worlds</h2>
<button class="previous">P</button>
<button class="next">S</button>
<div class="carousel">
    
    <% if(data.item_type != "book"){ %>
        <% data.forEach(book => { %>
            <div class="card" >
                <div class="upper-card">
                    <img src="https://fdnd-agency.directus.app/assets/<%= book.afbeelding %>" alt="">
                </div>
                <div class="lower-card">
                    <a href= "/detail/<%= book.id %>"> <%= book.title %></a>
                </div>
            </div>
          <% }) %>
      <% } else{ %>  
        <h1>bar</h1>
     <% } %>
        
</div>

<%- include('./partials/food') %>